@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.intro {
  background-color: $color-black;
  padding: 4rem 0;
  color: $color-white;

  &__container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $gutter;
  }

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;

    @include mq(tablet) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.6;
    color: $color-text-grey; // Cinza para dar hierarquia visual
    max-width: 600px; // Limita a largura para leitura confortável
  }
}
