// CARD BIKE

.bike-card {
  display: flex;
  flex-direction: column;

  @include hover-lift;

  padding: $space-md;
  border-radius: 1rem;

  &:hover {
    background-color: rgba($color-white, 0.05);
  }

  &__image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    margin-bottom: $space-lg;
    transition: transform $transition-base $ease-out-expo;
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  &__name {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: $space-xs;
  }

  &__description {
    font-size: clamp(0.88rem, 1.5vw, 1rem);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: $space-sm;
  }

  &__price {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 700;
    line-height: 1.4;
    margin-top: auto;
  }
}
