// Button

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 324px;
  height: 56px;
  padding: 0 3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.7;
  border: none;
  border-radius: 2.5rem;

  @include glow-effect;

  &:focus-visible {
    outline: 2px solid $color-focus;
    outline-offset: 2px;
  }

  &--primary {
    background-color: $color-white;
    color: $color-primary;
  }

  &--full {
    width: 100%;
  }
}

.section--details .btn {
  display: block;
  margin-inline: auto;
  margin-top: $space-xl;
  width: fit-content;
}
