// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

// Mixin de Media Query
@mixin mq($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $bp-tablet) { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: $bp-desktop) { @content; }
  } @else if $breakpoint == large {
    @media (min-width: $bp-large) { @content; }
  }
}
