.section {
  @include container-padding;

  padding-block: clamp(3rem, 8vw, 5rem); // Padding vertical responsivo

  // Título padrão das seções
  &__title {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1;
    text-align: center;
    margin-bottom: clamp(2rem, 5vw, 4rem);
  }
}
